@use "partials/variables" as *;
$fa-font-path: "./webfonts";
@import "@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "@fortawesome/fontawesome-free/scss/solid.scss";
@import url("https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&display=swap");

@import "bootstrap/scss/bootstrap";

.debug {
    outline: 1px solid red;
}

body {
    font-family: "Belanosima", sans-serif;
}

._mybody {
    width: 100%;
    background-image: url(/images/backgroundImagevertical.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow-x: hidden;

    ._wrapper {
        width: 100%;
        min-height: 100vh;
        padding: 10px;
        backdrop-filter: blur(1.5rem);
        overflow: hidden;

        ._contain {
            background-color: rgba(197, 199, 189, 0.428);
            padding: 30px 30px;
            border-radius: 20px;
            overflow: hidden;
            position: relative;
        }
    }
}

/* #a8a3a1 */
