@use "partials/variables" as *;
$fa-font-path: "./webfonts";
@import "@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "@fortawesome/fontawesome-free/scss/solid.scss";

@import "bootstrap/scss/bootstrap";

.debug {
    border: 1px solid red;
}

._button {
    margin: 0 auto;
    width: 150px;
    text-align: center;
    background-color: #282727;
    padding: 5px 0;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    text-decoration: none;
    color: white;
}

/* #a8a3a1 */
